log.html
direnv
idea
xcodeproj
vscode
luyacache
zig-cache
direnv
profile
fuzz-resultsv
test/fuzz/out
test/fixtures/grammars/
test/fixtures/grammars/
node_modules
docs/assets/js/tree-sitter.js
/tree-sitter.pc
/target
y urs.bk
dylib
so
mso.[0-9]
dll
o
obj
exp
lib
wasm
swiftpm
build
bulto es 
zig
/result
